# Binaries for programs and plugins
tmp
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# os and ide files
.idea/
.DS_Store

# config
config.json

# secrets
.netrc
.env

# hsm store
.keystore/